<div class="total">
    <form class="global-container">
        <h1>Form</h1>
        <hr>
        <div class="content-container-f">
            <h2>Ingreso basico</h2>
            <div class="form-first">
                <label for="text-label">Nombre: </label>
                <input type="text" id="text-label">
            </div>
            <div class="form-second">
                <label for="text-second">Apellido: </label>
                <input type="text" id="text-second">
            </div>
            <div class="form-third">
                <label for="text-third">Mail: </label>
                <input type="email" id="text-third">
            </div>
            <div class="form-fourth">
                <label for="text-fourth">Contraseña: </label>
                <input type="password" id="text-fourth">
            </div>
        </div>
        <hr>
        <div class="content-container-s">
            <h2> Genero </h2>
            <label for="opc1"><input type="radio" name="gender" id="opc1"> Masculino </label>
            <label for="opc2"><input type="radio" name="gender" id="opc2">Femenino</label>
            <label for="opc3"><input type="radio" name="gender" id="opc3">Prefiero no responder</label>
        </div>
        <hr>
        <div class="content-container-t">
            <h2> Edad </h2>
            <label for="opc"> Ingresa tu edad <input type="number" name="age" id="opc"> </label>
        </div>
        <hr>
        <div class="container-checkboxes">
            <h2>Intereses</h2>
            <label for="programacion"> <input type="checkbox" id="programacion" value="programacion"> Programacion </label>
            <label for="vieojuegos"> <input type="checkbox" id="vieojuegos" value="videoJuegos"> VideoJuegos </label>
            <label for="baile"> <input type="checkbox" id="baile" value="baile"> Baile </label>
            <label for="tv"> <input type="checkbox" id="tv" value="baile"> TV </label>
            <label for="musica"><input type="checkbox" id="musica" value="musica"> Musica </label>
            <label for="gimnasio"><input type="checkbox" id="gimnasio" value="gimnasio"> Gimnasio </label>
        </div>
        <hr>
        <div class="container-more-info">
            <h2>Informacion Extra</h2>
                <label for="extra"><textarea name="extra" id="extra" cols="30" rows="10" placeholder="Ingresa mas informacion"></textarea></label>
        </div>
        <div class="buttons-first-form">
            <button type="submit">Enviar</button>
            <button type="submit">Eliminar</button>
        </div>
    </form>
</div>