/* You can add global styles to this file, and also import other style files */
body {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.695)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}